dht11_flow.json
[
    {
        "id": "d37f2d71.b14de",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "4aa69dc.27eb764",
        "type": "influxdb",
        "z": "",
        "hostname": "hadoop.inbunker.com",
        "port": "80",
        "protocol": "http",
        "database": "temperature_humidity_db",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "134afc8d.c47df3",
        "type": "influxdb",
        "z": "",
        "hostname": "hadoop.inbunker.com",
        "port": "80",
        "protocol": "http",
        "database": "humidity_test",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "2e44158f.4bae5a",
        "type": "inject",
        "z": "d37f2d71.b14de",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "x": 106,
        "y": 284,
        "wires": [
            [
                "1c7968a7.ed6007"
            ]
        ]
    },
    {
        "id": "1c7968a7.ed6007",
        "type": "rpi-dht22",
        "z": "d37f2d71.b14de",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "11",
        "pintype": 1,
        "pin": "7",
        "x": 315,
        "y": 291,
        "wires": [
            [
                "b05adcee.4b6c9"
            ]
        ]
    },
    {
        "id": "b05adcee.4b6c9",
        "type": "function",
        "z": "d37f2d71.b14de",
        "name": "format to time-point",
        "func": "msg.payload = [{\n    time: new Date(),\n    temperature:msg.payload,\n    humidity:msg.humidity\n},\n{\n    location:\"CoderBunker\"\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 567,
        "y": 288,
        "wires": [
            [
                "efe40bf.fcd89f8",
                "8a852c37.c6241"
            ]
        ]
    },
    {
        "id": "efe40bf.fcd89f8",
        "type": "debug",
        "z": "d37f2d71.b14de",
        "name": "measurement",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 883,
        "y": 184,
        "wires": []
    },
    {
        "id": "8a852c37.c6241",
        "type": "influxdb out",
        "z": "d37f2d71.b14de",
        "influxdb": "4aa69dc.27eb764",
        "name": "temperature_humidity_db",
        "measurement": "temp_hum_table",
        "x": 861,
        "y": 364,
        "wires": []
    }
]