energy_flow.json
[{"id":"93dc0051.73aee","type":"serial in","z":"487d1661.784938","name":"arduino","serial":"3e48cbd5.873774","x":90.5,"y":181,"wires":[["cb941e89.97806"]]},{"id":"8c9e9322.d70b6","type":"debug","z":"487d1661.784938","name":"","active":true,"console":"false","complete":"payload","x":737.5,"y":79,"wires":[]},{"id":"cb941e89.97806","type":"delay","z":"487d1661.784938","name":"","pauseType":"rate","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":332.5,"y":109,"wires":[["221498bf.509b38"]]},{"id":"221498bf.509b38","type":"function","z":"487d1661.784938","name":"converts arduino input to float and passes message","func":"\n\nfloated = msg.payload.replace(/\\r\\n$/, \"\");\nnode.warn(floated);\n\nmsg.payload = [\n    {\n        energy:parseFloat(floated)\n    },\n    {\n        location:\"coderbunker\"\n    }\n    // timestamp: new Date()\n];\nreturn msg;","outputs":1,"noerr":0,"x":566.5,"y":210,"wires":[["8c9e9322.d70b6","fdd6c60c.a008e8"]]},{"id":"fdd6c60c.a008e8","type":"influxdb out","z":"487d1661.784938","influxdb":"973a176.e2884e8","name":"","measurement":"power_usage","precision":"","retentionPolicy":"","x":710.5,"y":335,"wires":[]},{"id":"3e48cbd5.873774","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"973a176.e2884e8","type":"influxdb","z":"","hostname":"139.198.191.241","port":"8086","protocol":"http","database":"energy","name":"","usetls":false,"tls":""}]
