face_detection.json
[
    {
        "id": "832a1cdd.af9fd",
        "type": "exec",
        "z": "e280990.796f768",
        "command": "raspistill -q 15 -o /home/pi/.node-red/photo.jpg",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "10",
        "name": "Save snapshot from raspicam to node-red directory",
        "x": 437,
        "y": 162,
        "wires": [
            [
                "243f5927.802846"
            ],
            [],
            []
        ]
    },
    {
        "id": "2e74b698.adb24a",
        "type": "throttle",
        "z": "e280990.796f768",
        "name": "limit sensitivity",
        "throttleType": "count",
        "timeLimit": 0,
        "timeLimitType": "seconds",
        "countLimit": "50",
        "blockSize": 0,
        "locked": false,
        "x": 247.5166778564453,
        "y": 96,
        "wires": [
            [
                "832a1cdd.af9fd"
            ]
        ]
    },
    {
        "id": "c4971351.27ba5",
        "type": "rpi-gpio in",
        "z": "e280990.796f768",
        "name": "IR Sensor",
        "pin": "7",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 67.51667785644531,
        "y": 112,
        "wires": [
            [
                "2e74b698.adb24a"
            ]
        ]
    },
    {
        "id": "243f5927.802846",
        "type": "file in",
        "z": "e280990.796f768",
        "name": "Snapshot obtained from IP-Camera in \"~/.node-red\" directory",
        "filename": "/home/pi/.node-red/photo.jpg",
        "format": "",
        "x": 621,
        "y": 61,
        "wires": [
            [
                "c10a82ca.8deba"
            ]
        ]
    },
    {
        "id": "c10a82ca.8deba",
        "type": "switch",
        "z": "e280990.796f768",
        "name": "Is this a valid photo (checks if photo array is null)",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 252,
        "y": 231,
        "wires": [
            [
                "34dce441.58ee3c"
            ],
            []
        ]
    },
    {
        "id": "34dce441.58ee3c",
        "type": "template",
        "z": "e280990.796f768",
        "name": "Camera not working",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Camera went dark",
        "x": 692,
        "y": 211,
        "wires": [
            []
        ]
    },
    {
        "id": "fc22e488.6dd8f8",
        "type": "visual-recognition-v3",
        "z": "e280990.796f768",
        "name": "make call to Watson",
        "apikey": "__PWRD__",
        "image-feature": "detectFaces",
        "lang": "en",
        "x": 191.5,
        "y": 349,
        "wires": [
            [
                "e6c5007a.d02b5"
            ]
        ]
    },
    {
        "id": "c62db3b4.87f36",
        "type": "debug",
        "z": "e280990.796f768",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 769.5,
        "y": 260,
        "wires": []
    },
    {
        "id": "ce6d642e.99f1f8",
        "type": "function",
        "z": "e280990.796f768",
        "name": "format results into array",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "x": 389.5,
        "y": 429,
        "wires": [
            []
        ]
    },
    {
        "id": "e6c5007a.d02b5",
        "type": "switch",
        "z": "e280990.796f768",
        "name": "",
        "property": "result.images[0].faces.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 426.5,
        "y": 306,
        "wires": [
            [
                "f3fa24b9.834188"
            ],
            [
                "6c139904.29a038"
            ]
        ]
    },
    {
        "id": "5edaf091.68275",
        "type": "debug",
        "z": "e280990.796f768",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 781.5,
        "y": 316,
        "wires": []
    },
    {
        "id": "f3fa24b9.834188",
        "type": "function",
        "z": "e280990.796f768",
        "name": "",
        "func": "msg.payload = \"No faces Detected\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 563.5,
        "y": 278,
        "wires": [
            [
                "c62db3b4.87f36"
            ]
        ]
    },
    {
        "id": "6c139904.29a038",
        "type": "function",
        "z": "e280990.796f768",
        "name": "",
        "func": "msg.payload = \"faces detected\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 584.5,
        "y": 363,
        "wires": [
            [
                "5edaf091.68275"
            ]
        ]
    }
]
