face_detection.json
[
    {
        "id": "832a1cdd.af9fd",
        "type": "exec",
        "z": "e280990.796f768",
        "command": "raspistill -q 15 -o /home/pi/.node-red/photo.jpg",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "10",
        "name": "Save snapshot from raspicam to node-red directory",
        "x": 406,
        "y": 113,
        "wires": [
            [
                "243f5927.802846"
            ],
            [],
            []
        ]
    },
    {
        "id": "2e74b698.adb24a",
        "type": "throttle",
        "z": "e280990.796f768",
        "name": "limit sensitivity",
        "throttleType": "count",
        "timeLimit": 0,
        "timeLimitType": "seconds",
        "countLimit": "50",
        "blockSize": 0,
        "locked": false,
        "x": 271.5166778564453,
        "y": 50,
        "wires": [
            [
                "832a1cdd.af9fd"
            ]
        ]
    },
    {
        "id": "c4971351.27ba5",
        "type": "rpi-gpio in",
        "z": "e280990.796f768",
        "name": "IR Sensor",
        "pin": "7",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 67.51667785644531,
        "y": 112,
        "wires": [
            [
                "2e74b698.adb24a"
            ]
        ]
    },
    {
        "id": "243f5927.802846",
        "type": "file in",
        "z": "e280990.796f768",
        "name": "Snapshot obtained from IP-Camera in \"~/.node-red\" directory",
        "filename": "/home/pi/.node-red/photo.jpg",
        "format": "",
        "x": 868,
        "y": 52,
        "wires": [
            [
                "c10a82ca.8deba"
            ]
        ]
    },
    {
        "id": "c10a82ca.8deba",
        "type": "switch",
        "z": "e280990.796f768",
        "name": "Is this a valid photo (checks if photo array is null)",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 252,
        "y": 231,
        "wires": [
            [
                "34dce441.58ee3c"
            ],
            [
                "fc22e488.6dd8f8"
            ]
        ]
    },
    {
        "id": "34dce441.58ee3c",
        "type": "template",
        "z": "e280990.796f768",
        "name": "Camera not working",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Camera went dark, check that it's connected and enabled.",
        "x": 608,
        "y": 184,
        "wires": [
            [
                "ef48c767.e50fd8"
            ]
        ]
    },
    {
        "id": "fc22e488.6dd8f8",
        "type": "visual-recognition-v3",
        "z": "e280990.796f768",
        "name": "make call to Watson",
        "apikey": "__PWRD__",
        "image-feature": "detectFaces",
        "lang": "en",
        "x": 219.5,
        "y": 323,
        "wires": [
            [
                "e6c5007a.d02b5"
            ]
        ]
    },
    {
        "id": "e6c5007a.d02b5",
        "type": "switch",
        "z": "e280990.796f768",
        "name": "",
        "property": "result.images[0].faces.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 426.5,
        "y": 306,
        "wires": [
            [
                "c2d40952.a34d08"
            ],
            [
                "31dfed49.b35c52"
            ]
        ]
    },
    {
        "id": "fc453f5f.8b134",
        "type": "debug",
        "z": "e280990.796f768",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 860.2500114440918,
        "y": 492.5000057220459,
        "wires": []
    },
    {
        "id": "31dfed49.b35c52",
        "type": "function",
        "z": "e280990.796f768",
        "name": "msg.result.images[0] to face_obj array",
        "func": "var face_obj = [];\n\nfor (var i = 0; i < msg.result.images[0].faces.length; i++){\n    node.warn(\"Face processed\");\n    face_obj.push(msg.result.images[0].faces[i]);\n}\n\n// msg.payload = face_obj;\n\nreturn [face_obj]",
        "outputs": 1,
        "noerr": 0,
        "x": 577,
        "y": 421,
        "wires": [
            [
                "fc453f5f.8b134"
            ]
        ]
    },
    {
        "id": "a0a99c33.be55c",
        "type": "e-mail",
        "z": "e280990.796f768",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "jpbeltrami@gmail.com",
        "dname": "",
        "x": 889,
        "y": 244,
        "wires": []
    },
    {
        "id": "c2d40952.a34d08",
        "type": "template",
        "z": "e280990.796f768",
        "name": "format email",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{Movement detected but no faces in the picture.}} !",
        "x": 666.5,
        "y": 262,
        "wires": [
            [
                "a0a99c33.be55c",
                "677e9ce8.3fdaa4"
            ]
        ]
    },
    {
        "id": "677e9ce8.3fdaa4",
        "type": "debug",
        "z": "e280990.796f768",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 847.5,
        "y": 307,
        "wires": []
    },
    {
        "id": "ef48c767.e50fd8",
        "type": "e-mail",
        "z": "e280990.796f768",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "jpbeltrami@gmail.com",
        "dname": "jpbeltrami@gmail.com",
        "x": 934.5,
        "y": 162,
        "wires": []
    },
    {
        "id": "2356106c.64923",
        "type": "e-mail",
        "z": "e280990.796f768",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "jpbeltrami@gmail.com",
        "dname": "",
        "x": 899.3750152587891,
        "y": 381.2500057220459,
        "wires": []
    },
    {
        "id": "bf898af.7d46978",
        "type": "exec",
        "z": "e280990.796f768",
        "command": "convert photo.jpg -crop (height)1026x(width)848+(left)999+(top)377 (output file)crop-text.jpg",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "crop faces from photo.jpg",
        "x": 634.3750076293945,
        "y": 544.3750085830688,
        "wires": [
            [],
            [],
            []
        ]
    }
]
