temphum.json
[{"id":"2e44158f.4bae5a","type":"inject","z":"d37f2d71.b14de","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":120,"y":288,"wires":[["1c7968a7.ed6007"]]},{"id":"1c7968a7.ed6007","type":"rpi-dht22","z":"d37f2d71.b14de","name":"","topic":"rpi-dht11","dht":"11","pintype":1,"pin":"7","x":289,"y":276,"wires":[["bc7f2995.a3b8c8","b05adcee.4b6c9"]]},{"id":"bc7f2995.a3b8c8","type":"function","z":"d37f2d71.b14de","name":"format temperature","func":"return msg;","outputs":1,"noerr":0,"x":502,"y":311,"wires":[["eb4e154.a023ee8","8a852c37.c6241"]]},{"id":"eb4e154.a023ee8","type":"debug","z":"d37f2d71.b14de","name":"Temperature","active":true,"console":"false","complete":"payload","x":673,"y":449,"wires":[]},{"id":"b05adcee.4b6c9","type":"function","z":"d37f2d71.b14de","name":"format humidity","func":"msg.payload = msg.humidity;\n\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":239,"wires":[["efe40bf.fcd89f8","9e35c5f3.460328"]]},{"id":"efe40bf.fcd89f8","type":"debug","z":"d37f2d71.b14de","name":"Humidity","active":true,"console":"false","complete":"payload","x":683,"y":186,"wires":[]},{"id":"8a852c37.c6241","type":"influxdb out","z":"d37f2d71.b14de","influxdb":"4aa69dc.27eb764","name":"temperature db","measurement":"tempMea","x":740,"y":367,"wires":[]},{"id":"9e35c5f3.460328","type":"influxdb out","z":"d37f2d71.b14de","influxdb":"134afc8d.c47df3","name":"humidity db","measurement":"humMea","x":698,"y":262,"wires":[]},{"id":"4aa69dc.27eb764","type":"influxdb","z":"","hostname":"10.1.80.115","port":"80","protocol":"http","database":"temperature_test","name":"","usetls":false,"tls":""},{"id":"134afc8d.c47df3","type":"influxdb","z":"","hostname":"10.1.80.115","port":"80","protocol":"http","database":"humidity_test","name":"","usetls":false,"tls":""}]
