temphum.json
[{"id":"356bfaee.200076","type":"inject","z":"43199f7c.54a69","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":109,"y":160,"wires":[["8ec9e586.dc1e08"]]},{"id":"8ec9e586.dc1e08","type":"rpi-dht22","z":"43199f7c.54a69","name":"","topic":"rpi-dht11","dht":"11","pintype":1,"pin":"7","x":251,"y":272,"wires":[["115f0e11.ec92c2"]]},{"id":"115f0e11.ec92c2","type":"function","z":"43199f7c.54a69","name":"format input","func":"msg.payload = {\n    temperature: msg.payload,\n    humidity: msg.humidity,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":169,"wires":[["587e5138.65f87"]]},{"id":"587e5138.65f87","type":"debug","z":"43199f7c.54a69","name":"","active":true,"console":"false","complete":"false","x":603,"y":249,"wires":[]}]
